<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ebaize.mapper.OperationBasicMapper">

    <select id="getListByPageByTableName" resultType="java.util.Map">
        select
            *
        from ${tableName}
        <where>
            <if test="paramsSqlList != null and paramsSqlList.size()> 0">
                <foreach collection="paramsSqlList" index="index" item="item" open=" AND " close="" separator=" AND ">
                    ${item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getListByPageByTableNameSort" resultType="java.util.Map">
        select
            *
        from ${tableName}
        <where>
            <if test="paramsSqlList != null and paramsSqlList.size()> 0">
                <foreach collection="paramsSqlList" index="index" item="item" open=" AND " close="" separator=" AND ">
                    ${item}
                </foreach>
            </if>
        </where>
        <if test="sortStr != null and sortStr !=''">
            #{sortStr}
        </if>
    </select>

</mapper>

